$graycolor: gray;
$blackcolor:black;
$whitecolor:white;
$redcolor:red;
$bluecolor:blue;

.imageNav{
height: 100px;
width: 150px;
}
.navLink{
    text-decoration: none;
    color: black;
    font-size: 20px;
   
    &:hover{
        background-color:gray;
        border-radius: 5px;
    }
}